div {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: relative;
  background-color: blue;
  border: 1px solid red;
  animation-name: element;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
  animation-direction: alternate-reverse;
}

@keyframes element {
  0% {
    background-color: black;
    top: 0;
    left: 0;
  }
  25% {
    background-color: brown;
    top: 0;
    left: 200px;
  }
  50% {
    background-color: azure;
    top: 100px;
    left: 200px;
  }

  75% {
    background-color: yellow;
    left: 0;
    top: 100px;
  }

  100% {
    background-color: blue;
    left: 0;
    top: 0;
  }
}


/* Bouncing Ball code  */
/* @keyframes element {
    0%{
        transform: translateX(0px);
    }

    50%{
        transform: translateX(100px);
    }
} */