/* body{
    background-image: url('rose.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    
} */

#box-1 {
  width: 100px;
  height: 100px;
  background-color: antiquewhite;
  border: 1px solid red;
  display: inline-block;
  /* background-image: url(https://img.freepik.com/free-photo/vibrant-colors-nature-close-up-wet-purple-daisy-generated-by-artificial-intellingence_25030-63819.jpg);
  background-size: contain;
  background-repeat: no-repeat; */
  position: static;
  top: 10px;
}

#box-2 {
  width: 100px;
  height: 100px;
  background-color: yellow;
  border: 1px solid red;
  display: inline-block;
  position: relative;
  top: 50px;
  left: 30px;
}

#box-3 {
  width: 100px;
  height: 100px;
  background-color: rgb(167, 167, 140);
  border: 1px solid red;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}

#box-4 {
  width: 100px;
  height: 100px;
  background-color: rgb(33, 33, 11);
  border: 1px solid red;
  display: inline-block;
  position: fixed;
  bottom: 20px;
}

#box-5 {
  width: 100px;
  height: 100px;
  background-color: rgb(235, 235, 142);
  border: 1px solid red;
  display: inline-block;
  position: sticky;
  top: 0px;
  
}
